/* defining reusable colors */
:root {
    --primary-col: darkblue;
    --secondary-col: skyblue
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
}

header {
    text-align: center;
    padding: 1em 0;
    color: white;
    background-image: linear-gradient(90deg, var(--secondary-col) 0%, var(--primary-col) 100%);
}

main {
    display: flex;
    flex-wrap: wrap;
    column-gap: 1em;
    padding: 1em;
}

.search-content {
    flex: 1 1 20%;
    
    /* color: black; */
}

.search-content input, .search-content button {
    padding: 0.75em;
    border-radius: 5px;
}
.search-content button{
    background-color: var(--secondary-col);
    color: white;
    margin-bottom: 1em;
}
.full-dashboard {    
    flex: 1 1 70%;
    display: flex;
    flex-direction: column;
}

#currDay-dash {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.search-content article, .full-dashboard article:first-of-type {
    display: flex;
    flex-direction: column;
    row-gap: 1em;
}

#search-history {
    padding-top: 1em;
}



#search-history button {
    background-color: darkblue
}
#search-history button:focus {
    background-color: teal;
}



#five-day-forecast {
    display: none;
    flex-wrap: wrap;
    column-gap: 2em;
    row-gap: 2em;
    padding: 1em 0;
}
#five-day-forecast h2 {
    flex: 1 1 100%;
}

#five-day-forecast div {
    background-color: rgb(45, 69, 94);
    border-radius: 5px;
    color: white;
    padding: 1em;
    flex: 1 1 10em;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
    
}

